bin/test_project.rb
*.out
.DS_Store
album_cache copy.yaml
album_cache.yaml
bin/make_CSV.rb
bin/test_hash.rb
bin/test_nested_class.rb
bin/test_singleton.rb
doc/notes.md
features/.DS_Store
features/assets/.DS_Store
features/assets/test/.DS_Store
file_after.txt
file_before.txt
out/@itunes_hash after save.txt
out/Initialised album.txt
log.txt
bin/tracklister.rb
bin/rjl_itunes.rb
dump
